<!-- Toolbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img
    width="40"
    alt="Sheroes Logo"
    src="https://cdn2.iconfinder.com/data/icons/strategic-management/96/monitoring_dashboard_infographics-512.png"
  />
  <span>Welcome to SHEROES COVID-19 DASHBOARD</span>
    <span class="menu-spacer"></span>
    
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div>
      <a mat-button [routerLink]="'/dashboard'"><img
        width="40"
        alt="World"
        src="https://i.pinimg.com/originals/64/a8/43/64a843dccd6224aff90dae50eb144d71.png"
      /> World </a>
      <a mat-button [routerLink]="'/indiadashboard'"> <img
        width="40"
        alt="India"
        src="https://img.icons8.com/ios/2x/india-map.png"
      />India </a>
    </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
